package templates

import "github.com/neilsmahajan/productivity-timer/internal/models"

templ StatsPage(userTagStats []*models.UserTagStats) {
	<html>
		<head>
			<title>Productivity Timer Stats</title>
			<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
			<script src="//unpkg.com/alpinejs" defer></script>
		</head>
		<body></body>
	</html>
}
